.kda {
  composes: base from "../theme/common.scss";
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 115px;
  &[data-team="CT"] {
    [class*=__title__] {
      color: #4BA5D4;
    }
  }
  &[data-team="T"] {
    [class*=__title__] {
      color: #C18B32;
    }
  }
}

.column {
  width: 100%;
  flex: 1;
  text-align: center;

}

.title {
  color: rgba(255, 255, 255, 0.3);
  height: 36px;
  font-size: 25px;
}

.value {
  font-weight: 400;
  height: 27px;
}
