.kda {
  composes: base from "../theme/common.scss";
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  width: 115px;
  &[data-team="CT"] {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5));
  }
  &[data-team="T"] {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.5));
  }
}

.column {
  width: 100%;
  flex: 1;
  text-align: center;

}

.title {
  color: rgba(255, 255, 255, 0.3);
}

.value {
  font-weight: 400;
}