@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
.winner-team-announce {
  composes: base from "../theme/common.scss";
  width: 480px;
  height: 45px;
  line-height: 45px;
  background: rgba(0, 0, 0, 0.55);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  animation: slideInDown 0.5s;
  position: fixed;
  top: 10 + 70px;
  &[data-team="CT"]{
    left: 405px;
  }
  &[data-team="T"]{
    right: 405px;
  }
}

.team-name {
  font-weight: bold;
  padding-right: 10px;
  display: inline-block;
  max-width: 400px;
  height: 57px;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  &[data-team="CT"] {
    color: #4BA5D4;
  }
  &[data-team="T"] {
    color: #C18B32;
  }
}

.label {
  overflow: hidden;
  &[data-team="CT"]{
    color: #4BA5D4;
  }
  &[data-team="T"]{
    color: #C18B32;
  }
}
