// 2つの keyframe を @function に置き換えられそう
@keyframes slideInDownForCt {
  from {
    transform: translate(calc(-1 * 1110px / 2), -100%);
    visibility: visible;
  }
  to {
    transform: translate(calc(-1 * 1110px / 2), 0);
  }
}
@keyframes slideInDownForT {
  from {
    transform: translate(calc(1110px / 2 - 480px), -100%);
    visibility: visible;
  }
  to {
    transform: translate(calc(1110px / 2 - 480px), 0);
  }
}
.winner-team-announce {
  composes: base from "../theme/common.scss";
  width: 480px;
  height: 45px;
  line-height: 45px;
  background: rgba(0, 0, 0, 0.55);
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  position: fixed;
  top: 10 + 70px;
  left: 50%;
  &[data-team="CT"]{
    transform: translate(calc(-1 * 1110px / 2), 0);
    animation: slideInDownForCt 0.5s;
  }
  &[data-team="T"]{
    transform: translate(calc(1110px / 2 - 480px), 0);
    animation: slideInDownForT 0.5s;
  }
}

.label {
  overflow: hidden;
  &[data-team="CT"]{
    color: #4BA5D4;
  }
  &[data-team="T"]{
    color: #C18B32;
  }
}
