.base {
  @import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
  @import url(https://fonts.googleapis.com/css?family=Saira);
  font-family: "Saira","Noto Sans JP", sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}
