@import "../theme/color.scss";
.team-stats {
  composes: base from "../theme/common.scss";
  width: 465px;
  height: 67 * 5px;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  &[data-slot-side="right"] {
    bottom: 290px;
    right: 10px;
  }
  &[data-slot-side="left"] {
    bottom: 290px;
    left: 10px;
  }
}
