@import "../theme/color.scss";

.spectating-player {
  composes: base from "../theme/common.scss";
  position: fixed;
  left: 50%;
  bottom: 100px;
  transform: translateX(-50%);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main-info {
  background: rgba(0, 0, 0, 0.7);
  height: 80px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-end;
  > img {
    width: 150px;
    height: 150px;
  }
}
.playerNames {
  width: 360px;
  padding-left: 10px;
}

.name {
  composes: base from "../theme/common.scss";
  height: 55px;
  line-height: 50px;
  font-weight: 600;
  font-size: 28px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  &[data-team="T"] {
    color: #C18B32;
  }
  &[data-team="CT"] {
    color: #4BA5D4;
  }
}
.twitter-id {
  composes: base from "../theme/common.scss";
  height: 25px;
  line-height: 15px;
  font-weight: 600;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  &[data-team="T"] {
    color: #C18B32;
  }
  &[data-team="CT"] {
    color: #4BA5D4;
  }
}

.kda {
  composes: base from "../theme/common.scss";
  width: 200px;
  height: 80px;
  line-height: 85px;
  font-size: 24px;
  text-align: center;
}
.kda-separator {
  padding: 0 5px;
  &[data-team="T"] {
    color: #C18B32;
  }
  &[data-team="CT"] {
    color: #4BA5D4;
  }
}


.sub-info {
  background: rgba(0, 0, 0, 0.55);
  height: 45px;
  text-align: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.health-armor {
  composes: base from "../theme/common.scss";
  width: 180px;
  height: 45px;
  padding-left: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.health-icon {
  width: auto;
  height: 21px;

}
.health {
  width: 42px;
  font-size: 24px;
}
.armor-icon {
  width: auto;
  height: 21px;
}
.armor {
  width: 42px;
  font-size: 24px;
}

.grenades-info {
  width: 400px;
  height: 30px;
  > img {
    transform: scale(-1, 1);
    float: right;
    padding-right: 3px;
    margin: 2px auto auto 2px;
    width: auto;
    height: 75%;
    filter: invert(100%);
  }
}

.ammo {
  composes: base from "../theme/common.scss";
  width: 120px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: baseline;
}
.clip {
  font-size: 24px;
}
.separator {
  font-size: 15px;
  width: 15px;
  &[data-team="T"] {
    color: #C18B32;
  }
  &[data-team="CT"] {
    color: #4BA5D4;
  }
}
.reserve {
  font-size: 15px;
  padding-right: 20px;
  &[data-team="T"] {
    color: #C18B32;
  }
  &[data-team="CT"] {
    color: #4BA5D4;
  }
}
