@import "../theme/color.scss";
$sub-info-height: 25px;
.spectating-player {
  composes: base from "../theme/common.scss";
  width: 920px;
  height: 70px;
  position: fixed;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  &[data-show-spectating-player=true] {
    transition: all 1s;
    opacity: 1;
  }
  &[data-show-spectating-player=false] {
    transition: all 1s;
    opacity: 0;
  }
  &[data-has-player-image=true] {
    width: 920px + 120px;
    height: 120px;
    &:after {
      content:" ";
      display:block;
      clear:both;
    }
    > .main-info {
      position: absolute;
      bottom: $sub-info-height;
      left: 120px;
    }
    > .sub-info {
      position: absolute;
      bottom: 0;
      left: 120px;
    }
  }
}

.main-info {
  height: 63px;
  width: 920px;
  padding: 0 0 0 15px;
  box-sizing: border-box;
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  &:after {
    content:" ";
    display:block;
    clear:both;
  }
}
.name {
  composes: base from "../theme/common.scss";
  width: 400px;
  height: 63px;
  margin: 0;
  font-weight: 600;
  font-size: 40px;
  display: inline-block;
  white-space: nowrap;
  padding-left: 36px;
  overflow: hidden;
  &[data-team="T"] {
    color: #c19511;
  }
  &[data-team="CT"] {
    color: #5788a8;
  }
}

.ammo {
  composes: base from "../theme/common.scss";
  height: 63px;
  width: 20%;
  float: right;
}

.clip {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  width: 65px;
  text-align: center;
}

.separator {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  width: 30px;
  text-align: center;
}

.reserve {
  display: inline-block;
  font-size: 35px;
  font-weight: 900;
  width: 65px;
}

.health-armor {
  composes: base from "../theme/common.scss";
  height: 63px;
  width: 230px;
  float: right;
  position: relative;
}

.health-icon {
  width: 28px;
  height: auto;
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 0;
}
.health {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  width: 65px;
  padding-left: 40px;
}
.armor-icon {
  width: 25px;
  height: auto;
  display: inline-block;
  position: absolute;
  top: 13px;
  right: 25 + 65px;
}
.armor {
  display: inline-block;
  font-size: 40px;
  font-weight: 900;
  width: 65px;
  padding-left: 45px;
}
.sub-info {
  width: 920px;
  height: $sub-info-height;
  padding-left: 15px;
  box-sizing: border-box;
  position: relative;
  &[data-team="T"] {
    background: linear-gradient(to left, rgba(193,149,17,0), rgba(193,149,17,1));
  }
  &[data-team="CT"] {
    background: linear-gradient(to left, rgba(87,136,168,0), rgba(87,136,168,1));
  }
}

.kda {
  composes: base from "../theme/common.scss";
  width: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 2px 2px 8px #000;
  text-align: center;
}
.kda-separator {
  padding: 0 5px;
}

.grenades-info {
  width: 230px;
  height: 25px;
  float: right;
  &:after {
    content:" ";
    display: block;
    clear: both;
  }
  > img {
    transform: scale(-1, 1);
    float: left;
    padding-right: 3px;
    margin: 2px auto auto 2px;
    width: auto;
    height: 75%;
    filter: invert(100%);
  }
}

.twitter-id {
  margin: 0;
  width: 250px;
  float: left;
  padding-left: 36px;
}

.player-image {
  width: 120px;
  height: 120px;
  box-sizing: border-box;
  &[data-team="T"] {
    border: 3px #c19511 solid;
  }
  &[data-team="CT"] {
    border: 3px #5788a8 solid;
  }
}
