@import "../theme/color.scss";
.top-bar {
  composes: base from "../theme/common.scss";
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.match-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.team-info {
  background: rgba(0, 0, 0, 0.55);
  height: 70px;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  &[data-team="CT"] {
    flex-direction: row-reverse;
  }
  &[data-team="T"] {
    flex-direction: row;
  }
}
.team-score {
  font-size: 45px;
  width: 85px;
  height: 70px;
  line-height: 70px;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  &[data-team="CT"] {
    color: #4BA5D4;
  }
  &[data-team="T"] {
    color: #C18B32;
  }
}
.team-logo {
  height: 70px;
  width: 70px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  > img {
    height: 70%;
  }
}
.team-name {
  width: 315px;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
  &[data-team="CT"] {
    color: #4BA5D4;
    margin-right: 10px;
    text-align: right;
  }
  &[data-team="T"] {
    color: #C18B32;
    margin-left: 10px;
    text-align: left;
  }
}

.round-info {
  background: rgba(0, 0, 0, 0.65);
  width: 150px;
  height: 70px;
  display: flex;
  flex-flow: column nowrap;
  justify-content:center;
  align-items: center;
}

.round-counter {
  composes: round-counter from "../roundCounter/round_counter.scss";
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.timer {
  composes: timer from "../timer/timer.scss";
  composes: base from "../theme/common.scss";
  height: 50px;
  line-height: 50px;
}

.c4-timer {
  composes: c4 from "../blinkingC4Icon/blinking_c4_icon.scss";
  position: relative;
  z-index: 1;
  width: 40px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.defuse-timer-wrapper {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 150px;
  height: 47px;
  bottom: -47px;
  padding: 0 3px 3px 3px;
  box-sizing: border-box;
}
.defuse-timer-label {
  color: #4BA5D4;
  margin: 0;
}
.defuse-timer {
  composes: percentage-timer from "../percentageTimer/percentage_timer.scss";
  background: #1d3d49;
  height: 20px;
  > [class*=__percentage-bar__] {
    background: #4BA5D4;
  }
}
