@import "../theme/color.scss";
.player {
  composes: base from "../theme/common.scss";
}

.main-info {
  position: relative;
  overflow: hidden;
}

.health-bar {
  position: absolute;
  width: 100%;
  top: 0;
  right :0;
  bottom: 0;
  left: 0;
  &[data-team="T"] {
    background: $t-color;
  }
  &[data-team="CT"] {
    background: $ct-color;
  }
}